{%extends 'layout.html'%} {%block body %}
<div class="jumbotron" style="margin-top: 3%; background-color: #F7F7F7">
  <div class="container">
    <h3>Image Stegnography</h3>
    <p>
      Stegnography is the practice of concealing a file, message, image, or
      video within another file, message, image or video.
    </p>
    <h4>How to Use</h4>
    <p><strong>Encryption:</strong></p>
    <p>
      Click on Encryption on the menu bar to encrypt a message inside an image,
      You need to enter a message and select an image before submitting for
      encryption.
    </p>
    <p><strong>Decryption:</strong></p>
    <p>
      Click on Decryption on the menu bar to decrypt a message from an image.
      You need to upload the image before submitting for decryption.
    </p>
  </div>
</div>
{%endblock%}
